/* 2017-10-13 17:01:59 | 修改 木遥（QQ：516584683） */
.btn-toolbar {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: -5px;
    z-index: 19910501;
}

/*--------cursor ------*/
.cur-addMarker {
    cursor: crosshair;
}

.cur-measure {
    cursor: crosshair;
}

/*--------globe  ------*/
.btn-toolbar input[type=checkbox], .btn-toolbar input[type=radio] {
    margin: 4px 0;
    line-height: normal;
    padding: 0px;
}

.btn-toolbar label {
    font-weight: 400;
    line-height: 2.3;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.btn-toolbar a {
    text-decoration: none;
    color: #16a085;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -ms-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
    clear: both;
}

:after, :before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.btn-toolbar ul {
    list-style: none;
    margin: 0;
    padding: 5px;
}




/*--------toolbar start*/


#toolbar a {
    padding: 0;
    text-decoration: none;
    width: 35px;
    height: 35px;
    line-height: 35px;
    cursor: pointer;
    float: left;
    display: inline;
    margin-right: 5px;
    cursor: pointer;
    text-align: center;
    background: rgba(0,0,0,.4);
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
}
#toolbar a span{
    margin-top: 10px;
}
.btn-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.btn-toolbar > .btn-group {
    margin-left: 5px;
}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: left;
}

.btn-toolbar .btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    background-image: none;
    padding: 10px 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    border: none;
    border-radius: 4px;
    vertical-align: middle;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
}

    .btn-toolbar .btn:active {
        box-shadow: none;
    }

    .btn-toolbar .btn:hover, .btn-toolbar .btn:focus {
        color: #fff;
        outline: 0;
    }

.btn-toolbar .btn-inverse {
    color: rgb(255, 255, 255);
    background-color: rgba(38, 38, 38, 0.75);
}

.btn-inverse:hover, .btn-inverse.hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.focus, .open > dropdown-toggle.btn-inverse {
    background: #2c3e50;
    color: #fff;
}

.btn-group > .btn {
    font-weight: 400;
}

    .btn-group > .btn:first-child {
        margin-left: 0;
    }

        .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-toolbar .btn > [class^=fui-] {
    margin: 0 1px;
    font-size: 16px;
}

.btn-toolbar .btn [class^=fui-] {
    position: relative;
    top: 1px;
    margin: 0 1px;
    line-height: 1;
}

.btn-toolbar .btn [class^="smicon-"] {
    position: relative;
    top: 1px;
    margin: 0 1px;
    line-height: 1;
}

.btn-toolbar .btn-xs.btn [class^="smicon-"] {
    top: 0;
    font-size: 11px;
}

.btn-toolbar .btn-hg.btn [class^="smicon-"] {
    top: 2px;
}

.btn-toolbar .btn > [class^="smicon-"] {
    margin: 0 1px;
    font-size: 16px;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group > .btn + .btn {
    margin-left: 0;
}

.btn-group-vertical > .btn, .btn-group > .btn {
    position: relative;
    float: left;
}




/*--------toolbar end*/



/* -- drop down START---*/
.dropDown-container {
    display: block;
    position: absolute;
    top: 100%;
    box-sizing: border-box;
    left: 0;
    /*right:-10px;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    urser-select: none;
    -webkit-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -moz-transition: visibility 0s 0.2s, opacity 0.2s ease-in, -moz-transform 0.2s ease-in;
    transition: visibility 0s 0.2s, opacity 0.2s ease-in, transform 0.2s ease-in;
    -webkit-transform: translate(0, -20%);
    -moz-transform: translate(0, -20%);
    transfor: translate(0, -20%);
    opacity: 0;
    visibility: hidden;
    border: 1px solid #444;
    background-color: rgba(38, 38, 38, 0.75);
    margin: 9px;
    color: white;
}

    /*.dropDown-container select, input {
        color: #000000;
    }*/

.dropDown-visible {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
    -moz-transition: opacity 0.2s ease-out, -moz-transform 0.2s ease-out;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

.measureDropDown {
    min-width: 120px;
    padding-top: 5px;
    text-align: left;
}

.measureDropDown li {
    height: 30px;
    font-size: 15px;
}
.measureDropDown li:hover {
   border: 1px solid #00DCFF;
}

.measureDropDown i {
   margin-left:10px;
   margin-right: 10px;
}
.layui-layer-title i {
   margin-right: 10px;
}

/* ---measure drop down END---*/

/* ---setting drop down START---*/
.setting-dropdown {
    position: absolute;
    top: 10%;
    left: 10%;
    /* background-color: rgba(16,16,17,0.5); */
    background-color: rgba(38, 38, 38, 0.75);
    padding: 2% 3% 0 1%;
    border-radius: 10%;
}

.setting-label {
    color: #ffffff;
}
/* ---setting drop down END---*/



.btn-toolbar .btn-inverse {
    /* color: #BF7130; */
    color: rgb(255, 255, 255);
    /* background-color: rgba(40,42,43,0.4); */
    background-color: rgba(38, 38, 38, 0.75);
}


/* .squaredTwo 底图设置 */
.squaredTwo {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    margin: 5px 5px;
    background: #fcfff4;
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

    .squaredTwo label {
        width: 16px;
        height: 16px;
        cursor: pointer;
        position: absolute;
        left: 2px;
        top: 2px;
        background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
        background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
        background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
        -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
        -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    }

        .squaredTwo label:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 4px;
            left: 4px;
            border: 3px solid #fcfff4;
            border-top: none;
            border-right: none;
            background: transparent;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .squaredTwo label:hover::after {
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
            opacity: 0.3;
        }

    .squaredTwo input[type=checkbox] {
        visibility: hidden;
    }

        .squaredTwo input[type=checkbox] + label:after {
            filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 0;
        }

        .squaredTwo input[type=checkbox]:checked + label:after {
            filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
            opacity: 1;
        }


/*--------tree view  start------*/

.treeview {
    color: #fff;
}

.node-layerTree:not(.node-disabled) {
    border: none;
    padding: 0;
    font-size: 11pt;
}

.node-unchecked .squaredTwo input[type=checkbox] + label:after {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 0;
}

.node-layerTree:not(.node-disabled):hover {
    color: #000;
}

.list-group-item > .fui-cross {
    padding: 2px 7px;
    visibility: hidden;
    /* float : right; */
}

.list-group-item:hover > .fui-cross {
    visibility: visible;
}

.treeview .list-group-item {
    cursor: pointer;
}

.treeview span.indent {
    margin-left: 10px;
    margin-right: 10px;
}

.treeview span.icon {
    width: 12px;
    margin-right: 5px;
}

.treeview .node-disabled {
    color: silver;
    cursor: not-allowed;
}
/*--------tree view  end------*/

.service-items {
    display: block;
    position: relative;
    top: auto;
    right: 0;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 260px;
    text-align: left;
}

.service-item {
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    width: 105px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.service-itemIcon {
    display: inline-block;
    position: relative;
    width: inherit;
    height: 80px;
    background-size: 100% 100%;
    color: #edffff;
    box-sizing: border-box;
    border: 3px solid #ffffff;
}

    .service-itemIcon:hover {
        border: 3px solid #00DCFF;
    }

.service-itemIcon-selected {
    border: 3px solid #00DCFF;
}

.service-itemLabel {
    display: block;
    font-family: sans-serif;
    font-size: 10pt;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    cursor: pointer;
}

.service-itemBg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(35,36,36);
    left: 0px;
    top: 0px;
    opacity: 0;
}

.service-itemAttr:hover div.service-itemBg {
    opacity: 1;
    background-color: rgba(35,36,36,0.7);
}

.service-itemDes {
    position: absolute;
    left: 5px;
    top: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    opacity: 0;
}

.service-itemAttr:hover div.service-itemDes {
    opacity: 1;
}

.service-itemAdd {
    position: absolute;
    right: 0px;
    bottom: 0px;
    font-size: 20px;
    opacity: 0;
}

.service-itemAttr:hover div.service-itemAdd {
    opacity: 1;
}

.service-itemUnSelected {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 16px;
    color: rgb(26,188,114);
    opacity: 0;
}

.service-itemSelected {
    opacity: 1;
}



/*-- 手机样式 */
@media screen and (max-width : 500px) {
    #measureBtn {
        display: none;
    }

    .service-items {
        max-height: 150px;
        max-width: 300px;
    }

    .service-item {
        width: 80px;
    }

    .service-itemIcon {
        height: 60px;
    }

    .service-itemLabel {
        font-size: 8pt;
    }
}
