

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
    font-size: 14px;
    background-color: transparent !important;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    position: relative;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #62a8ea;
    text-decoration: none;
}

a:hover, a:focus {
    color: #89bceb;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: none;
    outline-offset: -2px;
}

ul, li {
    list-style: none;
}

.distanceLegendDiv {
    display: none
}

.distance-legend {
    display: none
}

#centerDiv {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
    overflow: hidden;
    position: relative;
}

.signmask {
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    filter: alpha(opacity:50);
    position: fixed;
    display: block;
    z-index: 20180910;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5) url("../img/icon-operate.png") center no-repeat;
}

/*dark样式*/

.dark {
    color: #ffffff;
}

.dark a {
    color: #ffffff;
    text-decoration: none;
}

.dark a:hover {
    color: white;
    text-decoration: underline;
}

.dark .content {
    overflow: auto;
    position: relative;
    background: transparent;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dark .form-control, .dark .input-group-addon, .dark .btn-default, .dark input {
    color: #ffffff;
    background-color: rgba(63, 72, 84, 0.7);
}

.dark .btn-info {
    background-color: rgba(119, 214, 225, 0.2);
}

.dark .btn-primary {
    background-color: rgba(32, 160, 255, 0.2);
}

.dark .btn-danger {
    background-color: rgba(255, 109, 109, 0.2);
}

.dark .cesium-popup-color {
    color: #ffffff;
}

.dark .cesium-popup-background {
    background: rgba(63, 72, 84, 0.9);
}

/* -------loading Bar ----------*/

.loadingOverlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .9;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 9998
}

ul#loadbar {
    list-style: none;
    width: 200px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    top: 50%;
    margin-top: -5em
}

ul#loadbar li {
    float: left;
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-left: 10px;
    border-left: 1px solid #111;
    border-top: 1px solid #111;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    background: #000
}

ul#loadbar li:first-child {
    margin-left: 0
}

.ins .ball {
    background-color: #2187e7;
    background-image: -moz-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    background-image: -webkit-linear-gradient(90deg, #2187e7 25%, #a0eaff);
    width: 15px;
    height: 15px;
    border-radius: 50px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -moz-animation: loading 1s linear forwards;
    -webkit-animation: loading 1s linear forwards
}

.ins .palse {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    border: 1px solid #00c6ff;
    box-shadow: 0 0 5px #00c6ff;
    position: absolute;
    top: -1px;
    left: -1px;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    -webkit-animation: pulse 1s ease-out;
    -moz-animation: pulse 1s ease-out
}

@-moz-keyframes loading {
    0% {
        -moz-transform: scale(0, 0)
    }
    100% {
        -moz-transform: scale(1, 1)
    }
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: scale(0, 0)
    }
    100% {
        -webkit-transform: scale(1, 1)
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(0);
        opacity: 0
    }
    10% {
        -moz-transform: scale(1);
        opacity: .5
    }
    50% {
        -moz-transform: scale(1.75);
        opacity: 0
    }
    100% {
        -moz-transform: scale(0);
        opacity: 0
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0);
        opacity: 0
    }
    10% {
        -webkit-transform: scale(1);
        opacity: .5
    }
    50% {
        -webkit-transform: scale(1.75);
        opacity: 0
    }
    100% {
        -webkit-transform: scale(0);
        opacity: 0
    }
}

#loadinglayer1 {
    -moz-animation-delay: .5s;
    -webkit-animation-delay: .5s
}

#loadinglayer2 {
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s
}

#loadinglayer3 {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s
}

#loadinglayer4 {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s
}

#loadinglayer5 {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s
}

#loadinglayer7 {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s
}

#loadinglayer8 {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s
}

#loadinglayer9 {
    -moz-animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s
}

#loadinglayer10 {
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s
}

#loadinglayer11 {
    -moz-animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s
}

@-moz-keyframes fill {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fill {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

/* -------loading Bar End ----------*/

/**cesium按钮背景色*/

.cesium-button {
    background-color: #3f4854;
    color: #e6e6e6;
    fill: #e6e6e6;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input {
    background-color: rgba(63, 72, 84, 0.7);
}

.cesium-viewer-geocoderContainer .cesium-geocoder-input:focus {
    background-color: rgba(63, 72, 84, 0.9);
}

.cesium-viewer-geocoderContainer .search-results {
    background-color: #3f4854;
}

.cesium-geocoder-searchButton {
    background-color: #3f4854;
}

.cesium-infoBox-title {
    background-color: #3f4854;
}

.cesium-infoBox {
    background: rgba(63, 72, 84, 0.9);
}

/**cesium工具栏位置*/

.cesium-viewer-toolbar {
    top: auto;
    left: auto;
    right: 12px;
    bottom: 35px;
}

.cesium-viewer-toolbar>.cesium-toolbar-button, .cesium-navigationHelpButton-wrapper, .cesium-viewer-geocoderContainer {
    margin-bottom: 5px;
    float: right;
    clear: both;
}

.cesium-baseLayerPicker-dropDown {
    bottom: 0;
    right: 40px;
    max-height: 700px;
    margin-bottom: 5px;
}

.cesium-navigation-help {
    top: auto;
    bottom: 0;
    right: 40px;
    transform-origin: right bottom;
}

.cesium-sceneModePicker-wrapper {
    width: auto;
}

.cesium-sceneModePicker-wrapper .cesium-sceneModePicker-dropDown-icon {
    float: left;
    margin: 0 3px;
}

.cesium-viewer-geocoderContainer .search-results {
    left: 0;
    right: 40px;
    width: auto;
    z-index: 9999;
}

.cesium-infoBox-title {
    background-color: #3f4854;
}

.cesium-infoBox {
    top: 50px;
    background: rgba(63, 72, 84, 0.9);
}

/*滚动条*/

body, html {
    scrollbar-base-color: #f4f7fc;
    scrollbar-track-color: #f4f7fc;
    scrollbar-face-color: #797979;
    scrollbar-arrow-color: #f4f7fc;
    scrollbar-shadow-color: #f4f7fc;
    scrollbar-3dlight-color: #f4f7fc;
    scrollbar-highlight-color: #f4f7fc;
    scrollbar-darkshadow-color: #f4f7fc;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
    display: none
}

::-webkit-scrollbar-track {
    background: transparent
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border: 0
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background: transparent;
    border-radius: 5px
}

::-webkit-scrollbar-thumb {
    padding-top: 100px;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
    background-color: #797979;
    min-height: 28px;
    border-radius: 4px;
    background-clip: padding-box
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
    border: 0
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .4)
}

::-webkit-scrollbar-thumb:active {
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    background-color: rgba(0, 0, 0, .5)
}

@font-face {
    font-family: 'num';
    src: url('../fonts/DIGITAL-Regular.TTF') format('truetype');
}